Django
djangorestframework
djangorestframework-api-key
django-allauth
googletrans==3.1.0a0
sentencepiece
sumy
numpy
language-tool-python
psycopg2-binary
whitenoise
nltk
tensorflow
gunicorn
dj-database-url