{% extends 'base.html' %}
{% load socialaccount %}
{%block content %}
<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          {% if user.is_authenticated %}
          <a href="https://www.highcpmrevenuegate.com/m945eqkcvk?key=3810e694dd466a9e40f9aed0420dc576" target="_blank">
            <h1>Welcome {{ user.name }}</h1></a>
          <h2>
            <a href="/pricing">Subcribe to a plan to get API key</a><br/>
            <a href="/guides">View our guide on Api intergration</a>
          </h2>
          {% else %}
          <a href="https://www.highcpmrevenuegate.com/m945eqkcvk?key=3810e694dd466a9e40f9aed0420dc576" target="_blank">
          <h1>Deep learning for nlp</h1></a>
          <a href="https://www.highcpmrevenuegate.com/m945eqkcvk?key=3810e694dd466a9e40f9aed0420dc576" target="_blank">
          <h2>
          	Text comprehension/generation for
          	<p href="" class="typewrite" data-period="2000" data-type='["embeddings","headline generation","blog post generation", "Language detection/translation.", "text summarization.", 
          	"semantic search","text classification","Grammar correction/Auto-completion", "tokenization","part of speech tagging","lemmatization" ]'>
    <span class="wrap"></span>
  </p><p>Intergrate our ready for production models into your app seamlessly</p>
  </h2></a>

          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="https://www.highcpmrevenuegate.com/m945eqkcvk?key=3810e694dd466a9e40f9aed0420dc576" target="_blank">
            <a href="{% provider_login_url 'google' %}" class="btn-get-started scrollto">Sign in with Google</a></a>
            <!--a class="btn-get-started scrollto" href="{% url 'socialaccount_signup' %}">Register</a-->
          </div>
          {% endif %}
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        	{%load static %}
          <img src="{% static 'assets/img/hero-img.png'%}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
    <script>
    	

var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };


    </script>
  </section><!-- End Hero -->



{% endblock %}